@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-theme: #00c2ff;
  --color-background: #ffffff;
  --color-primary: #000000b3;
  --color-item-background: #e3e3e333;
  --color-item-border: #e4e4e4;

  --color-background-dark: #16191d;
  --color-primary-dark: #ffffffcc;
  --color-item-background-dark: #0000001a;
  --color-item-border-dark: #7d7d7d26;

  --animate-scroll: scroll 20s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}

footer a {
  color: inherit;
  transition: color 0.3 linear;
  font-weight: 400;
}

footer a:hover {
  color: var(--color-theme);
}

[data-rmiz-modal-overlay='hidden'] {
  background-color: rgba(0, 0, 0, 0) !important;
}
[data-rmiz-modal-overlay='visible'] {
  background-color: rgb(0, 0, 0) !important;
}
